<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card col-10">
                <div class="card-body">
                  <h4 class="card-title">Striped Table</h4>
                  <p class="card-description">
<!--                    Add class <code>.table-striped</code>-->
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>CATEGORY NAME</th>
                          <th>CATEGORY IMAGE</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{i.catname}}</td>
                          <td> <img src="{{i.catimage.url}}" height="300px" width="300px"></td>


                          <td>
                          <div class="d-flex align-items-center">
                              <form action="{% url 'categoryedit' dataid=i.id %}">
                            <button  class="btn btn-success btn-sm btn-icon-text mr-3">

                              <i class="mdi mdi-lead-pencil"></i>

                            </button>
                                  </form>

                              <form action="{% url 'Categorydelete' dataid=i.id %}">
                            <button  class="btn btn-danger btn-sm btn-icon-text">

                              <i class="mdi mdi-delete"></i>
                            </button>
                                  </form>
                          </div>
                          </td>

                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
 {% for i in messages %}
   {% if i.tags == 'warning' %}
     <script>
      swal('{{i}}','','warning')
     </script>
     {% elif i.tags == 'error' %}
       <script>
      swal('{{i}}','','error')
       </script>
     {% elif i.tags == 'success' %}
     <script>
      swal('{{i}}','','success')
     </script>
   {% else %}
     <script>
      swal('{{i}}','','info')
     </script>
  {% endif %}
 {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}